<%- include('../partials/head')%>

    <body>
        <%- include('../partials/navbar.ejs')%>
            <div class="container">
                <h1>
                    Shopping List
                </h1>
                <h4>
                    Available Inventory Items
                </h4>

                <hr>

                <ul>
                    <% for(let category of categories){ %>
                        <%const hasProducts=products.some(product=> product.category === category); %>
                            <% if (hasProducts) { %>
                                <li style="list-style-type: none;">
                                    <b>
                                        <%=category%>
                                    </b>

                                    <ul>
                                        <% for(let product of products) { %>
                                            <% if (product.category===category) { %>
                                                <li>

                                                    <%= product.name %>,
                                                        Quantity: <%= product.quantity %>

                                                            <% }%>
                                                </li>
                                                <% }%>
                                    </ul>

                                </li>
                                <%}%>
                                    <% } %>
                </ul>
                <hr>
                <h2>
                    Shopping List Items
                </h2>
                <a href="/groceries/categories">Add New Item to Shopping List</a>

            </div>
    </body>

    </html>