<%- include('../partials/head')%>

    <body>
        <%- include('../partials/navbar.ejs')%>
            <div class="container">
                <h1>
                    Shopping List  <a href="/groceries/categories" class="btn btn-primary">Add New Item to Shopping List</a>
                </h1>
                <hr>
                <ul>
                    <% for(let category of categories){ %>
                        <%const hasProducts=products.some(product=> (product.category === category && product.groceryQuantity >0)); %>
                            <% if (hasProducts) { %>
                                <li style="list-style-type: none;">
                                    <b>
                                        <%=category%>
                                    </b>

                                    <ul>
                                        <% for(let product of products) { %>
                                            <% if (product.category===category && product.groceryQuantity > 0) { %>
                                                <li>

                                                    <%= product.name %>,
                                                        Quantity: <%= product.groceryQuantity %>

                                                        <a href="/groceries/<%=product._id%>/edit">Edit Quantity</a>
                                                
                                                        <form style="display: inline-block" action="/groceries?_method=PUT" method="POST">
                                                           <input type="hidden" name="id" value="<%= product._id %>">
                                                           <button class="btn btn-link">Delete</button>
                                                        </form>
                                                            <% }%>
                                                </li>
                                                <% }%>
                                    </ul>

                                </li>
                                <%}%>
                                    <% } %>
                </ul>
                <hr>
                <a href="/home" class="btn btn-primary">Back to Home</a>

            </div>
    </body>

    </html>