<%- include('../partials/head')%>

    <body>
        <%- include('../partials/navbar.ejs')%>
            <div class="container">
                <h1>Add a Shopping List Item</h1>
                <hr>
                <h4>Available Inventory Items for category: <%= category %>
                </h4>
                <ul>
                    <% for(let product of products) { %>
                        <% if (product.quantity > 0) { %>
                        <li>

                            <%= product.name %>,
                                Quantity: <%= product.quantity %>


                        </li>
                        <% }%>
                        <%}%>
                </ul>
                <hr>
                <h2>
                    Add Shopping List Items
                </h2>
                <form action="/products" method="POST">
                    <input type="hidden" name="redirectTo" value="/groceries">
                    <label for="name">Name of Shopping List Item</label>
                    <input type="text" name="name" id="name" required placeholder="Shopping List item name">
                    <label for="groceryQuantity">Quantity</label>
                    <input type="number" id="groceryQuantity" name="groceryQuantity" required placeholder="Quantity">
                    <input hidden type="number" id="quantity" name="quantity" value="0">

                    <label for="category">Category</label>
                    <select hidden name="category" required id="category">
                        
                            <option value="<%=category%>">
                                <%=category%>
                            </option>
                            
                    </select>

                    <button>Submit</button>
                </form>
            </div>
            <hr>
            <div class="container">
                <a href="/groceries/categories" class="btn btn-primary">Back to categories</a>
                <a href="/groceries" class="btn btn-primary">Cancel</a>
                </form>
            </div>
    </body>

    </html>