<%- include('../partials/head')%>

    <body>
        <%- include('../partials/navbar.ejs')%>
            <div class="container">
                <h1>
                    ADMIN PAGE - All Products in database <a href="/products/new" class="btn btn-success">Add a New Product to database</a>
                </h1>

                <hr>
                <ul>
                <% for(let category of categories){ %>
                    <%const hasProducts=products.some(product=> product.category === category); %>
                    <% if (hasProducts) { %>
                        <li style="list-style-type: none;">
                            <b><%=category%></b>
                            <ul>
                            <% for(let product of products) { %>
                                <% if (product.category===category) { %>
                                <li>
                                    <%= product.name %>,
                                    Quantity: <%= product.quantity %>,
                                    Category:
                                    <%= product.category %>,
                                    Expiry Date: <%= product.expirydate ?
                                    product.expirydate.toLocaleDateString('nl-NL')
                                    : 'N/A' %>,
                                    Grocery List Quantity: <%= product.groceryQuantity %>
                                    
                                    <a href="/products/<%=product._id%>/edit">Edit Item</a>
                                    <form style="display: inline-block" action=" /products/<%=product._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-link">Delete</button>
                                    </form>
                                </li>
                                <%}%>
                            <%}%>
                            </ul>
                        </li>
                    <%}%>
                <%}%>
                </ul>
                <hr>

                <a href="/products/new" class="btn btn-success">Add New Inventory Item</a>
                
            </div>
    </body>

    </html>