<%- include('../partials/head')%>

    <body>
        <%- include('../partials/navbar.ejs')%>
            <div class="container">
                <h1>Edit an Inventory Item</h1>


                <form action="/products/<%=product._id%>?_method=PUT" method="POST">

                    <label for="name">Inventory Name</label>
                    <input type="text" name="name" id="name" required placeholder="product name"
                        value="<%=product.name%>">

                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>">

                    <label for="category">Select Category</label>
                    <select name="category" required id="category">
                        <% for(let category of categories){ %>
                            <option value="<%=category%>" <%=product.category===category ? 'selected' : '' %>>
                                <%=category%>
                            </option>

                            <% } %>
                    </select>

                    <label for="expirydate">Expiry Date</label>
                    <input type="date" id="expirydate" name="expirydate"
                        value="<%= product.expirydate ? product.expirydate.toISOString().substring(0, 10) : '' %>">

                    <button>Submit</button>
                </form>

                <a href="/products/">Cancel</a>
            </div>
    </body>

    </html>